################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/3alegnyMinimalAPI/bin/Debug/net8.0
/3alegnyMinimalAPI/obj/Debug/net8.0
