################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/3alegny/v17
/3alegny/appsettings.json
/3alegnyMinimalAPI/obj
/.vs
/3alegny/appsettings.Development.json
